/* ============= Global Styles ========== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/* =========== end Global Styles ========== */

/* ============== Header Page ============= */
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  gap: 4px;
  align-items: center;
}

.logo-simply {
  font-style: italic;
}

.header-menu {
  margin-right: 90px;
  margin-left: auto;
  display: flex;
  gap: 24px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu {
  display: flex;
  gap: 18px;
}

.social-links {
  stroke: #111111;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #fd9222;
}

.social-links:hover,
.social-links:focus {
  stroke: #fd9222;
}

/* ============ end Header Page =========== */

/* ============== Hero Section ============ */

.main-hero .container {
  background-color: #1e1823;
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  margin-bottom: 72px;
  background-image:
    linear-gradient(rgba(30, 24, 35, 0.4), rgba(30, 24, 35, 0.4)),
    url("../images/chocolate-bgi.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  border-radius: 15px;
}

.main-title-one {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
  width: 484px;
  margin-bottom: 32px;
}

.hero-buttons-links {
  display: flex;
  align-items: center;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #ffffff;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  width: 144px;
  height: 45px;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-him {
  margin-left: 14px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 100px;
  width: 183px;
  height: 45px;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-scroll {
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #ffffff;
  display: flex;
  gap: 14px;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-wrapper-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-link-him:focus,
.hero-link-him:hover {
  color: #fd9222;
  background-color: #fafafa;
  border-color: #fd9222;
}

.hero-link-scroll:focus,
.hero-link-scroll:hover {
  color: #fd9222;
}

.hero-link-scroll:hover .icon-wrapper-scroll,
.hero-link-scroll:focus .icon-wrapper-scroll {
  fill: #ffffff;
  background-color: #fd9222;
}
/* =========== end Hero Section =========== */

/* =========== Benefits section =========== */
.main-benefits {
  background-color: #1e1823;
}

.main-benefits .container {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 34px;
  padding-right: 34px;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-menu {
  display: flex;
  gap: 88px;
}

.benefits-item {
  flex-basis: calc((100% - 88px * 2) / 3);
  position: relative;
}

.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.border::after {
  position: absolute;
  content: "";
  top: 0;
  right: -18px;
  width: 1px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(50%);
}

.main-title-three {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: 1.33333;
  color: #ffffff;
  margin-bottom: 18px;
}

.white-text {
  color: #ffffffb3;
}
/* ========= end Benefits section ========= */

/* ========== Ingredients Section ========= */
.main-ingredients .container {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 72px;
}

.main-title-two {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.orange-span {
  color: #fd9222;
}

.black-text {
  text-align: center;
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.ingredients-menu {
  display: flex;
  gap: 19px;
}

.ingredients-item {
  flex-basis: calc((100% - 3 * 19px) / 4);
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.ingredients-card {
  padding: 28px 32px;
}

.ingredients-images {
  margin-bottom: 36px;
}

.ingredients-text {
  font-weight: 600;
  text-transform: uppercase;
}

.main-ingredients .main-title-three {
  color: #111111;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.overlay {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  overflow: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-list {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 14px;
}

.overlay-ingredient {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 10px;
  line-height: 1.2;
  color: #ffffff;
  border-radius: 35px;
  height: 24px;
  background-color: #fd9222;
}

.overlay-benefits {
  font-size: 10px;
  line-height: 1.2;
  color: #111111;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  width: 93px;
  height: 24px;
}

.overlay-text {
  color: #111111;
}

.ingredients-item:first-child {
  background-color: #fd9222;
}

.ingredients-item:nth-child(3) {
  background-color: #1e1823;
}
.ingredients-item:nth-child(2n) {
  border: 1px solid #fd9222;
}

.ingredients-item:nth-child(odd) .ingredients-text {
  color: #ffffff;
}

.ingredients-item:hover .overlay {
  transform: translateY(0);
}
/* ======= end Ingredients Section ======== */

/* ======== How it’s made Section ========= */
.main-him .container {
  padding-top: 28px;
  margin-bottom: 72px;
}

.main-him .main-title-two {
  margin-bottom: 50px;
}

.him-image-block {
  display: flex;
  gap: 20px;
}

.him-block {
  padding: 32px;
  max-width: 516px;
}

.main-him .main-title-three {
  max-width: 355px;
  color: #111111;
  margin-bottom: 28px;
}

.him-item {
  max-width: 425px;
  position: relative;
  padding-left: 16px;
}

.him-item:not(:last-child) {
  margin-bottom: 24px;
}

.him-text::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  position: absolute;
  top: 5px;
  left: 0;
}
/* ====== end How it’s made Section ======= */

/* =========== Reviews Section ============ */
.main-reviews .container {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 72px;
}

.main-reviews .main-title-two {
  margin-bottom: 50px;
}

.reviews-menu {
  display: flex;
  gap: 28px;
}

.reviews-item {
  flex-basis: calc((100% - 2 * 28px) / 3);
}

.reviews-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
}

.reviews-wrapper {
  padding-top: 58px;
  background-color: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  margin-bottom: 49px;
}

.main-reviews .main-title-three {
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}

.reviews-item:nth-child(2) .main-title-three {
  margin-bottom: 20px;
}

.reviews-text {
  text-align: center;
  color: #111111b3;
  margin-left: auto;
  margin-right: auto;
  max-width: 312px;
}

.reviews-button {
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  background-color: #ffffff;
  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:focus,
.reviews-button:hover {
  color: #ffffff;
  background-color: #fd9222;
}
/* ========= end Reviews Section ========== */

/* ============= Footer Page ============== */
.footer-page {
  background-color: #1e1823;
}

.footer-page .container {
  padding-top: 50px;
  padding-bottom: 62px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
  max-width: 300px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 1136px;
}

.address-text {
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 14px;
}

.address-link {
  color: #fff;
  font-style: normal;
  margin-bottom: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover {
  color: #fd9222;
}

.footer-menu {
  display: flex;
  gap: 24px;
}

.footer-page .nav-link {
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-page .nav-link:hover,
.footer-page .nav-link:focus {
  color: #fd9222;
}
/* =========== end Footer Page ============ */
